<footer class="site-footer h-card">
  <data class="u-url" href="{{ " / " | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%} {{ site.author | escape }} {%- else -%} {{ site.title | escape }} {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

    {%- if page.tag == 'material-eng' -%}
      <div class="footer-col footer-col-3">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
          <img alt="Creative Commons license" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"
          />
        </a>
        <br/> Material is licensed using
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 license</a>.
      </div>
    {%- else -%}
      <div class="footer-col footer-col-3">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
          <img alt="Creative Commons -lisenssi" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"
          />
        </a>
        <br/> Materiaali on lisensoitu
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 -lisenssillä</a>.
      </div>
    {%- endif -%}
    </div>

  </div>

</footer>